<!DOCTYPE html>
<html>
  <head>
  <style>
        *{
            font-size: 18; 
        }
        img { 
            width:90%;
            height:100px;
            position: relative;
            display: block;
            margin-left: 30px;
            margin-bottom: 50px;
        }
        .title-container{
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            line-height: 60%;
        }
        .texte-container{
            font-size: 9px;
        
        }
        .head-text span{ 
            float: left;
            font-size: 15px;
        }
    </style>
  </head>
  <body>
  <img src="{{ app.request.getSchemeAndHttpHost()}}/img/cnsft.png" alt="Mon logo">
  <div class="title-container">
    <p>
      DIRECTION CENTRALE DE L'EXPLOITATION DU RESEAU <br><br><br><br><br><br> FERROVIAIRE TUNISIEN
    </p>
    </div>
    
    <div class='head-text'>
        <span>
          N&deg;: {{ salary_certificate.id }}
        </span>
        <span style="margin-left: 70%">
          
          TUNIS LE : {{salary_certificate.createdAt|date('Y/m/d')}} 
        </span>
    </div>
    
    
    <div class="title-container" >
    <p >
    
      <u> <H2>ATTESTATION DE SALAIRE</H2></u>
      
    </p>
    </div>
    <div class="texte-container">
    <p>
     <h1> LE chef du division administrative et gestion certife que:</h1>
    </p>
    <p>
      {{ salary_certificate.worker.gender == "M" ? "Mr" : "Mme" }} 
      {{ salary_certificate.worker.firstname }} 
      {{ salary_certificate.worker.lastname }} matricule {{salary_certificate.worker.ref}} ({{salary_certificate.worker.type}}) percoit un salaire mensuel
      brut {% set sb = salary_certificate.p20 + salary_certificate.p19
        + salary_certificate.p18
        + salary_certificate.p17
        + salary_certificate.p16
        + salary_certificate.p15
        + salary_certificate.p14
        + salary_certificate.p13
        + salary_certificate.p12
        + salary_certificate.p11
        + salary_certificate.p10
        + salary_certificate.p9
        + salary_certificate.p8
        + salary_certificate.p7
        + salary_certificate.p6
        + salary_certificate.p5
        + salary_certificate.p4
        + salary_certificate.p3
        + salary_certificate.p2
        + salary_certificate.p1
      %} {{ sb }} ,se decomposant comme suit:
    </p>
    <table style="border-collapse: collapse; width: 97.0994%; height: 396px;"
      border="1">
      <tbody>
        <tr style="height: 10px;">
          <td>
            Element global mensuel
          </td>
          <td style="width: 10.7401%; height: 10px;">
            {{ salary_certificate.P1 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Indemnite de logement
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p2 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime de bilan mensuel
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p3 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime de service mensuel
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p4 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Indemnite transport mensuel
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p5 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Allocation familiale
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p6 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime de rendement mensuel + PRC
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p7 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime fin d'annee mensuel
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p8 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime d'exploitation
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p9 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Indemnit&eacute;s compl&eacute;mentaire provisoire
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p10 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime de manoeuvre
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p11 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime de maintenance
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p12 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Prime de panier
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p13 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Indemnit&eacute; de nuit
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p14 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Charge fiscale additionnelle
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p15 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Majoration prime sp&eacute;cifique
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p16 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Augmentation PFA
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p17 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Indemnit&eacute; de fonction
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p18 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Indemnit&eacute; kilom&eacute;trique forfaitaire
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p19 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            Autres indemnites
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ salary_certificate.p20 }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            SALAIRE MENSUEL BRUT
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {% set sb = salary_certificate.p20 + salary_certificate.p19
              + salary_certificate.p18
              + salary_certificate.p17
              + salary_certificate.p16
              + salary_certificate.p15
              + salary_certificate.p14
              + salary_certificate.p13
              + salary_certificate.p12
              + salary_certificate.p11
              + salary_certificate.p10
              + salary_certificate.p9
              + salary_certificate.p8
              + salary_certificate.p7
              + salary_certificate.p6
              + salary_certificate.p5
              + salary_certificate.p4
              + salary_certificate.p3
              + salary_certificate.p2
              + salary_certificate.p1
            %}
            {{ sb }}
          </td>
        </tr>
        <tr style="height: 18px;">
          <td style="width: 73.2599%; height: 18px;">
            SALAIRE ANNUEL BRUT
          </td>
          <td style="width: 26.7401%; height: 18px;">
            {{ sb * 12 }}
          </td>
        </tr>
      </tbody>
    </table>
    <p >
      <u>
        Cette attestation est delivr&eacute;e a l'interresse&eacute; sur sa
        demande pour servir et valoir ce que de droit.
      </u>
    </p>
    <p style="text-align: center;" class="texte-container">
      <u>
        LE CHEF DU DEVISION ADMINISTRATIVE ET GESTION
      </u>
    </p>
    <p style="text-align: center;">
      <u>
        RABII BAHRI
      </u>
    </p>
    </div>
  </body>
</html>
