{% extends 'base.html.twig' %}

{% block title %}
  SalaryCertificate
{% endblock %}

{% block body %}
  <h1>
    SalaryCertificate
  </h1>

  <table class="table">
    <tbody>
      <tr>
        <th>
          Id
        </th>
        <td>
          {{ salary_certificate.id }}
        </td>
      </tr>
      <tr>
        <th>
          P1
        </th>
        <td>
          {{ salary_certificate.P1 }}
        </td>
      </tr>
      <tr>
        <th>
          P2
        </th>
        <td>
          {{ salary_certificate.p2 }}
        </td>
      </tr>
      <tr>
        <th>
          P3
        </th>
        <td>
          {{ salary_certificate.p3 }}
        </td>
      </tr>
      <tr>
        <th>
          P4
        </th>
        <td>
          {{ salary_certificate.p4 }}
        </td>
      </tr>
      <tr>
        <th>
          P5
        </th>
        <td>
          {{ salary_certificate.p5 }}
        </td>
      </tr>
      <tr>
        <th>
          P6
        </th>
        <td>
          {{ salary_certificate.p6 }}
        </td>
      </tr>
      <tr>
        <th>
          P7
        </th>
        <td>
          {{ salary_certificate.p7 }}
        </td>
      </tr>
      <tr>
        <th>
          P8
        </th>
        <td>
          {{ salary_certificate.p8 }}
        </td>
      </tr>
      <tr>
        <th>
          P9
        </th>
        <td>
          {{ salary_certificate.p9 }}
        </td>
      </tr>
      <tr>
        <th>
          P10
        </th>
        <td>
          {{ salary_certificate.p10 }}
        </td>
      </tr>
      <tr>
        <th>
          P11
        </th>
        <td>
          {{ salary_certificate.p11 }}
        </td>
      </tr>
      <tr>
        <th>
          P12
        </th>
        <td>
          {{ salary_certificate.p12 }}
        </td>
      </tr>
      <tr>
        <th>
          P13
        </th>
        <td>
          {{ salary_certificate.p13 }}
        </td>
      </tr>
      <tr>
        <th>
          P14
        </th>
        <td>
          {{ salary_certificate.p14 }}
        </td>
      </tr>
      <tr>
        <th>
          P15
        </th>
        <td>
          {{ salary_certificate.p15 }}
        </td>
      </tr>
      <tr>
        <th>
          P16
        </th>
        <td>
          {{ salary_certificate.p16 }}
        </td>
      </tr>
      <tr>
        <th>
          P17
        </th>
        <td>
          {{ salary_certificate.p17 }}
        </td>
      </tr>
      <tr>
        <th>
          P18
        </th>
        <td>
          {{ salary_certificate.p18 }}
        </td>
      </tr>
      <tr>
        <th>
          P19
        </th>
        <td>
          {{ salary_certificate.p19 }}
        </td>
      </tr>
      <tr>
        <th>
          P20
        </th>
        <td>
          {{ salary_certificate.p20 }}
        </td>
      </tr>
    </tbody>
  </table>

  <p style="text-align: center;">
    <br />DIRECTION CENTRALE DE L'EXPLOITATION DU RESEAU FERROVIAIRE TUNISIEN
  </p>
  <p style="text-align: left;">
    TUNIS LE :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; N&deg;:
  </p>
  <p style="text-align: left;">
    &nbsp;
  </p>
  <p>
    LE chef du division administrative et gestion certife que:
  </p>
  <p>
    MR KHMAIES TLICH matricule 2458745G (TITULAIRE) percoit un salaire mensuel
    brut (de chifre) ,se decomposant comme suit:
  </p>
  <table style="border-collapse: collapse; width: 97.0994%; height: 396px;"
    border="1">
    <tbody>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Element global mensuel
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Indemnite de logement
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime de bilan mensuel
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime de service mensuel
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Indemnite transport mensuel
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Allocation familiale
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime de rendement mensuel + PRC
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime fin d'annee mensuel
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime d'exploitation
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Indemnit&eacute;s compl&eacute;mentaire provisoire
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime de manoeuvre
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime de maintenance
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Prime de panier
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Indemnit&eacute; de nuit
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Charge fiscale additionnelle
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Majoration prime sp&eacute;cifique
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Augmentation PFA
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Indemnit&eacute; de fonction
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Indemnit&eacute; kilom&eacute;trique forfaitaire
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          Autres indemnites
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          SALAIRE MENSUEL BRUT
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
      <tr style="height: 18px;">
        <td style="width: 73.2599%; height: 18px;">
          SALAIRE ANNUEL BRUT
        </td>
        <td style="width: 26.7401%; height: 18px;">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <p style="text-align: center;">
    <u>
      Cette attestation est delivr&eacute;e a l'interresse&eacute; sur sa
      demande pour servir et valoir ce que de droit.
    </u>
  </p>
  <p style="text-align: center;">
    <u>
      LE CHEF DU DEVISION ADMINISTRATIVE ET GESTION
    </u>
  </p>
  <p style="text-align: center;">
    <u>
      RABII BAHRI
    </u>
  </p>

  <a href="{{ path('app_salary_certificate_index') }}">back to list</a>

  <a href="{{
    path(
      'app_salary_certificate_edit',
      {
        id: salary_certificate.id
      }
    )
    }}">
    edit
  </a>

  {{ include('salary_certificate/_delete_form.html.twig') }}
{% endblock %}
